[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "MexBrewer"]
	path = MexBrewer
	url = https://github.com/paezha/mexbrewer
	shallow = true
	registered = true
